#box {
  color: #F8F8F2;
  background-color: #666666;
}

h1, .menu{
	font-family: "Times New Roman", Times, serif;
}

#messagebox {
  color: #F8F8F2;
  background-color: #666666;
  padding: 10px 15px 10px 15px;
  margin: 20px 0 0 0;
  line-height: 4ex;
  height: 24ex;  
  width: auto;
}

.menu-type{
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
}

.menu-item{
	padding: 10px 10px 10px 1px;
	margin: 5px 0 0 0;
	border-width: 0.01px;
	border-style: solid;

}

.item-title{
	font-weight: bold;
	font-size: 100%;
}

.item-description{
	font-size: 80%;
}