#box {
  color: #F8F8F2;
  background-color: #666666;
}

h1{
	font-family: "Times New Roman", Times, serif;
}

#messagebox {
  color: #F8F8F2;
  background-color: #666666;
  padding: 10px 15px 10px 15px;
  margin: 20px 0 0 0;
  line-height: 4ex;
  height: 24ex;  
  width: auto;
}

