/* Bordered form */

form{
	 border: 0px solid #f1f1f1;
}

input{
}

.center-bar{
    width: 50%;
    padding: 12px 20px;
	margin-left: 250px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.filterbtn{
}

/*
#filterSection{
	float: left;
	margin-top: 20px;
	margin-left: 400px;
	height: 200px;
	overflow:auto;
}
*/





body{
	background-color: #BCC6CC;
	align-content: center;
}


.search-title{
	font-size: 200%;
}

.text_output{
    margin-top: 5px;
    padding: 5px;
    width: auto;
	text-align: center;
}


.Output {
	float: left;
	margin-bottom: 5px;
	font-size: 175%;
	width: 50%;
	text-align: center;
}

.sectionHead{
	font-size: 150%;
}

.pin p{
	font-size: 85%;
}

.pin{
	opacity: 0.6;
}

.pin:hover{
	opacity: 1;
}


.btn-nested-aggr{
}

.nested-aggr-output{
	margin-top: 30px;
	font-size: 150%;
	text-align: center;
}


.options{
	margin-top: 20px;
	margin-left: 220px;
	width: 300px;
	height: 200px;
	overflow:auto;
}


#back-btn{
	margin-bottom: 50px;
}
#reststats{
	margin-left: 500px;
	text-align:center;
}

