/* Bordered form */

form{
	 border: 0px solid #f1f1f1;
}

input{
    width: 50%;
    padding: 12px 20px;
	margin-left: 250px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.filterbtn{
	margin-left: 75px;
}

#filterSection{
	float: left;
}


body{
	align-content: center;
}
.search-title{
	font-size: 200%;
}

.location_output{
    margin-top: 5px;
    padding: 5px;
    width: auto;
	text-align: center;
}


.rname_output{
    margin-top: 0px;
    padding: 5px;
    width: auto;
	text-align: center;
}

.Output {
	float: left;
    margin-top: 5px;
	margin-bottom: 5px;
    padding: 16px;
	font-size: 200%;
	width: 50%;
}

.image{
	margin-left: 172px;
}

